/* To reset margins and paddings, and set a font family */
body, h2, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container to hold Sidebar and Content */
.container {
    display: flex;
    margin-top: 50px; /* Adjust space from the top */
}

/* Sidebar */
.sidebar {
    width: 25%; /* Chiếm 25% màn hình */
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 50px);
    position: fixed; /* Fixed sidebar */
    top: 100px; /* Start below header */
    z-index: 1; /* Ensure the sidebar is above other content */
}

/* Content */
.content {
    width: 55%; /* Chiếm 75% còn lại */
    margin-left: 25%; /* Đẩy phần nội dung sang phải */
    padding: 20px;
}
/* Avatar */
.avatar{
    width: 20%;
    margin: auto;
    padding: 20px;
}
.avatar img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Table Styling */
.user-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-info th, .user-info td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.user-info th {
    background-color: #f4f4f4;
}
