body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 200px 1fr / 200px  1fr;
    grid-template-areas:
    "header main"
    "menu main"
}

.header {
    grid-area: header;
    background: #e35;
    position: relative;
}

/* Căn giữa các phần tử trong user-info */
.user-info {
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    list-style-type: none; /* Xóa dấu chấm của danh sách */
}

/* CSS cho các phần tử li để tạo khoảng cách giữa chúng */
.user-info-item {
    margin: 10px; /* Thêm khoảng cách đều giữa các li */
    display: flex; /* Đảm bảo li có thể căn giữa nội dung */
    align-items: center; /* Căn giữa nội dung của li theo chiều dọc */
}

/* CSS cho ảnh người dùng */
.user-avatar {
    width: 40px; /* Kích thước chiều rộng ảnh */
    height: 40px; /* Kích thước chiều cao ảnh */
    border-radius: 50%; /* Làm cho ảnh hình tròn */
    object-fit: cover; /* Đảm bảo ảnh vừa với khung */
    border: 2px solid black; /* Thêm viền quanh ảnh */
}


.user-settings {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ccc;
}

.user-settings {
    /*   padding: 10px; */
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    /*   grid-gap: 10px; */
    /*   padding: 10px; */
}

.user-settings li {
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.user-settings li:hover {
    background: #fff;
    color: #000;
}

.menu {
    grid-area: menu;
    background-color: #3ae;
    /*   padding-top: 30px; */
    overflow: auto;
}

.menu ul {
    /*   padding:5px 10px; */
    /*   background: #ccc; */
}

.menu li > span {
    display: block;
    /*   color: red; */
    padding: 10px 0 5px 5px;
    font-size: 1.1em;
}

.menu > ul > li {
    cursor: pointer;
}

.menu li li {
    cursor: pointer;
    /*   margin-left: 10px; */
    /*   background: #000; */
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    transition: background 500ms ease-in-out;
}

.menu li li:hover {
    background: #ccc;
}

.main {
    /*   padding: 10px; */
    grid-area: main;
    background-color: #ae9;
    position: relative;
}
