body{
    background-color: #f6f5f7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.container{
    position: relative;
    width: 800px;
    background: rgba(242, 248, 240, 0.31);
    box-shadow: 0 15px 25px rgba(91, 225, 45, 0.4);
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(5px);
    flex-direction: row;
    height: 450px;
}

.menu-info{
    background-image: url("https://i.pinimg.com/736x/ba/ce/06/bace0612a6393082b922a5b7bed78aa7.jpg");
    background-size: 360px 450px;
    object-fit: cover;
    border-radius: 15px;
    height: 100%;
    width: 45%;
    float: left;
}

.menu-info img{
    margin-top: 40px;
    width: 170px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}

.menu-account a {
    text-decoration: none;
}

.menu-info p {
    font-size: 18px;
    font-weight: normal;
}

.menu-account button {
    width: 200px;
    height: 35px;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid blue;
    background-color: transparent;
}

.menu-manage {
    background-image: url("https://i.pinimg.com/736x/53/2e/23/532e23c344e1214f28d59f640ceb58b1.jpg");
    background-size: 450px 450px;
    border-radius: 15px;
    height: 100%;
    width: 55%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-manage a {
    font-size: 20px;
}
.menu-manage button {
    background-color: transparent;
    margin: 25px;
    font-size: 16px;
    border-radius: 15px;
    width: 220px;
    height: 50px;
}


